* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {

  background: linear-gradient(to left bottom, #BCBCBC, #CDCDCD);
  display: fixed;
  align-items: center;
  justify-content: center;

}

.palette {

  background: linear-gradient(to right bottom, #BCBCBC, #CDCDCD);
  border: solid 2px black;
  border-top-left-radius: 2rem;
  height: 650px;
  width: 150px;
  position: absolute;
  top: 10%;
  left:25%;

}

.overview {

  background: linear-gradient(to right top, #BCBCBC, #CDCDCD);
  border: solid 2px black;
  border-bottom-left-radius: 2rem;
  height: 150px;
  width: 150px;
  position: fixed;
  top: 75.3%;
  left: 25%;

}

.diagram {

  border: solid 2px black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 800px;
  width: 800px;
  position: absolute;
  top: 10%;
  left: 32.88%;

}

.inspector {

  position: absolute;
  top: 10%;
  left: 75%;

}
