* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {

  background: white;
  background-repeat: no-repeat;
  display: fixed;
  align-items: center;
  justify-content: center;

}

.centercontainer {
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: 60px;
  margin-right: auto;
  height: 93.89vh;
  width: 100vh;
}

.palette {

  background: linear-gradient(to right bottom, #BCBCBC, #CDCDCD);
  border: solid 2px black;
  border-top-left-radius: 2rem;
  height: 70vh;
  width: 8vw;
  min-width: 230px;
  position: absolute;


}

.overview {

  background: linear-gradient(to right top, #BCBCBC, #CDCDCD);
  border: solid 2px black;
  border-bottom-left-radius: 2rem;
  height: 20vh;
  width: 8vw;
  min-width: 230px;
  position: absolute;
  margin-top: 70vh;

}

.diagram {

  border: solid 2px black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 90%;
  width: 80vw;
  position: absolute;
  margin-left: 230px;


}

.inspector {

  position: absolute;
  margin-top: 3vh;
  margin-left: 78vw;
  z-index: 2;

}
