* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {

  background: rgb(65,151,224);
  background: linear-gradient(90deg, rgba(65,151,224,0.7819502801120448) 0%, rgba(181,209,233,0.32816876750700286) 30%, rgba(218,245,251,0.6979166666666667) 57%, rgba(226,234,241,1) 74%);
  background-repeat: no-repeat;
  display: fixed;
  align-items: center;
  justify-content: center;

}

.centercontainer {
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: 60px;
  margin-right: auto;
  height: 93.89vh;
  width: 100vh;
}

.palette {

  background: rgb(254,254,254);
  background: radial-gradient(circle, rgba(254,254,254,0.32816876750700286) 44%, rgba(65,151,224,0.7819502801120448) 94%);
  border: solid 2px black;
  border-top-left-radius: 2rem;
  height: 70vh;
  width: 8vw;
  min-width: 230px;
  position: absolute;


}

.overview {

  background: rgb(254,254,254);
  background: radial-gradient(circle, rgba(254,254,254,0.32816876750700286) 85%, rgba(65,151,224,0.7819502801120448) 94%);
  border: solid 2px black;
  border-bottom-left-radius: 2rem;
  height: 20vh;
  width: 8vw;
  min-width: 230px;
  position: absolute;
  margin-top: 70vh;

}

.diagram {

  border: solid 2px black;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 90%;
  width: 80vw;
  position: absolute;
  margin-left: 230px;


}

.inspector {

  position: absolute;
  margin-top: 3vh;
  margin-left: 75vw;
  z-index: 2;
  font-size: 500px;

}
