extends template.pug

block scripts
  link(rel='stylesheet', href='./js/gojs/assets/css/style.css')
  link(rel='stylesheet', href='./css/style.css')
  script(src='./js/gojs/release/go.js')
  script(src='./js/gojs/extensions/Figures.js')
  script(src='./js/gojs/extensions/DataInspector.js')
  script(src='./js/init.js')
  script(src='./js/export.js')
  script(src='./js/export2.js')
  script(src='./js/download.js')
  script(src='./js/todayTime.js')
  script(src='./js/uploadAndImportFromExcel.js', defer='')
  script(src='./js/reuse.js', defer='')
  script(src='./js/classes/Node.js')
  script(src='./js/classes/Link.js')
block content
  #mySidebar.leftMenu
    form.formstogether(action='/', method='get', id='homeForm')
      a(href="javascript:{}" onclick="document.getElementById('homeForm').submit();") Home
    form(action='/upload', method='post', id='uploadDBForm')
      input#diagramId(type='hidden', name='diagramId' value=diagramId)
      input#uploadData(type='hidden', name='uploadData')
      input#uploadLinks(type='hidden', name='uploadLinks')
      a(href="javascript:{}" onclick="document.getElementById('uploadDBForm').submit();") Save
    a(onclick='save2()' ) Export Personal Data Application
    div
      button#savedModel(onclick='save()') Export DataObj
      // <textarea id="mySavedModel" style="width:100%;height:200px"></textarea>
    div
      form#uploadForm
        input#inpFile.button(type='file')
        button#submitBtn(type='submit') import
    div
      
      // <textarea id="mySavedModel" style="width:100%;height:200px"></textarea>
      //- >>>>>> not in use anymore because you chose at greeting what to download <<<<<<<<
    div
      form(action='/download', method='get')
        input#downloadData(type='hidden', name='downloadData' value=downloadData)
        input#downloadLinks(type='hidden', name='downloadLinks' value=downloadLinks)
        //- input.button(type='submit', value='Load from Database')
    div
      button#x(onclick='reuseDataObj()')  Test
  .contentPages
    .centercontainer
      #myPaletteDiv.palette
      #myOverviewDiv.overview
      #myDiagramDiv.diagram
      #myInspectorDiv.inspector
    // <div id="Descriptor" class="Descriptor"><textarea id="descripted" class="descripted">test</textarea></div>
