extends template.pug

block scripts
  link(rel='stylesheet' href='css/greeter.css')
  script.
    window.jQuery = window.$ = require('jquery');
  script(src='./js/loadFromDatabase.js' defer)
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
block content
  #mySidebar.leftMenu
    a(href="javascript:{}" onclick='openLink("https://github.com/ersanuensal/Advanced-Programming/blob/main/README.md")') &nbsp; Documentation
        i(class='fa fa-book', style='position:relative;float:left;padding:6px 2px;')
    form(action='/', method='get', id='settingsForm')
      a(href="javascript:{}" onclick="document.getElementById('settingsForm').submit();") &nbsp; Connection Settings
        i(class='fa fa-wrench', style='position:relative;float:left;padding:6px 2px;')
  .contentPages
    h2 Select the Diagram you want to work with:
    div(class="alert alert-danger" role="alert" id='selectMsg' aria-label="Close" style="display: none;" ) 
        i(class='fa fa-warning', style='position:relative;float:left;padding:6px 2px;')
        span(aria-hidden="true") &nbsp;Please select a Diagram
    div
      input#diagramsList(type='hidden', name='diagramsList' value=diagramsList)
      select.bigselector(size="5", id='selectDiagram')
    div(class="inlinediv")
      button.formstogether(type="submit" onclick="showSelectedItem()" class="btn btn-primary") Open Diagram
      a.formstogether(style="margin-left: 1em;" data-toggle="modal" href="#normalModal" class="btn btn-success") New Diagram
      button(style="margin-left: 1em;" type="submit" onclick="deleteDiagram()" class="imgbtn")
        i.fa.fa-trash
      #normalModal(class="modal fade")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              h4(style="justify-self: center;" class="modal-title") New Diagram
              button( type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            div(class="modal-body")
              label(class="errorMsg" id='errorMsg')
              br
              div(class="CancelSubmit")
                label Name:  
                input(style="margin-left: 2.5em" type='input', name='diagramName', id='diagramName')
              br
              div(class="CancelSubmit")
                button(type="button" class="btn btn-danger" data-dismiss="modal") Cancel 
                button(style="margin-left: 2.5em;" type="submit" onclick="createDiagram()" class="btn btn-primary" margin-left="5px") Create
                    
          
