doctype html
head
  title Application Landscapes
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='css/template.css')
  block scripts
  script(src='js/menubar.js' defer)
.mainApp
  
  .topBar
    .titleBar
      button#showHideMenus.toggleButton
      img(src='icons/icon_top_bar.png' alt='')
      .title my app topBar
    .titleBarBtns
      button#minimizeBtn.topBtn.minimizeBtn(title='Minimize')
      button#maxResBtn.topBtn.maximizeBtn(title='Maximize')
      button#closeBtn.topBtn.closeBtn(title='Close')
  .contentArea
      block content
